<form [formGroup]="CurrencyForm" (ngSubmit)="onSubmitt()">
  Source CCY
  <select formControlName="fromCurrency" id="fromCurrency">
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
    <option value="INR">INR</option>
  </select>
  <br><br>
  Amount
  <input type="number" formControlName="amount" id="amount">
  <br><br>
  Target CCY
  <select formControlName="toCurrency" id="toCurrency">
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
    <option value="INR">INR</option>
  </select>
  <br><br>
  <button type="submit" id="submitButton">Submit</button>
  <br><br>
  Output
  <span id="result">Result: {{ resValue }}</span>
</form>
